<div class="row">

  <%= render partial: 'site/shared/sidebar' %>

  <div id="product-show" class="col-lg-9">

    <%= render partial: 'site/shared/carousel' %>    
    <div class="row">
      <%= render partial: 'site/shared/products' %> 
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
