<div class="row">

  <%= render partial: 'site/shared/sidebar' %>

  <div id="product-items" class="col-lg-9">
    <br>
    <div class="card">
      <div class="card-header">
        <%= @products.first.category.name %>
      </div>
    </div>
    <br>
    <div class="row">
      <%= render partial: 'site/shared/products' %> 
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
