<div class="row">

  <%= render partial: 'site/shared/sidebar' %>

  <div id="product-show" class="col-lg-9">
    <br>
    <div class="card">
      <div class="card-header">
        <% if @products.size > 0 %>
          <%= @products.first.category.name %>
        <% else %>
          Nenhum resultado encontrado :(
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <%= render partial: 'site/shared/products' %> 
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
