<h6 class="text-center">Pedidos Pendentes</h6>
<div class="row">
	<% @deliveries_pendentes.each do |pendente| %> 
	  <div class="col-xl-3 col-sm-6 mb-3">
	    <div class="card text-white bg-warning shadow p-3 mb-5">
	      <div class="card-body">
	      	<h5 class="card-title">Nº pedido: <%=  pendente.order.id %></h5>
	        <div class="card-body-icon">
	          <i class="fas fa-truck-loading fa-2x "></i>
	        </div>
	        <div class="mr-5"></div>
	      </div>
	      <%= link_to admin_delivery_path(pendente), class: "card-footer text-white clearfix small z-1" do %>
	        <span class="float-left">Detalhes</span>
	        <span class="float-right">
	          <i class="fa fa-angle-right"></i>
	        </span>
	      <% end %> 
	    </div>
	  </div>
	<% end %>
</div>
<hr>
<h6 class="text-center">Pedidos Enviando</h6>
<div class="row">
	<% @deliveries_enviando.each do |enviando| %> 
	  <div class="col-xl-3 col-sm-6 mb-3">
	    <div class="card text-white bg-info shadow p-3 mb-5">
	      <div class="card-body">
	      	<h5 class="card-title">Nª pedido: <%=  enviando.order.id %></h5>
	        <div class="card-body-icon">
	          <i class="fas fa-truck-loading fa-2x "></i>
	        </div>
	        <div class="mr-5"></div>
	      </div>
	      <%= link_to admin_delivery_path(enviando), class: "card-footer text-white clearfix small z-1" do %>
	        <span class="float-left">Detalhes</span>
	        <span class="float-right">
	          <i class="fa fa-angle-right"></i>
	        </span>
	      <% end %> 
	    </div>
	  </div>
	<% end %>
</div>
