<%= link_to site_carts_path, class: "nav-link" do %> 
  <i class="fas fa-cart-plus" style="color: white;"></i>
  <span class="badge">(<%= "#{total_items_cart(current_order)}" %>)</span></li>
<% end %>  