
<div class="card mt-4">
  <% if @product.image.attached? %> 
    <%= image_tag @product.image.variant(resize_to_limit: [900, 400]), class: "card-img-top img-fluid" %>
  <% else %>
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  <% end %> 
  <div class="card-body">
    <h3 class="card-title"><%= @product.name %></h3>
    <h4>$24.99</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
    4.0 stars
  </div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    <%= link_to root_path, class: "btn btn-success" do %>
      <i class="fas fa-backward"></i>
      <span>Back</span>
    <% end %>
  </div>
</div>
<!-- /.card -->



    