#customer_screem {
  padding-top: 56px;
  background-color: #f8f9fc;
}

#content_shopping {
  min-height: 820px;
}

.nav-item span {
  color: white;
}

@media only screen and (max-width: 768px) {
  #content_shopping {
    min-height: 800px;
  }
}
