<div class="card shadow p-3 mb-5">
  <div class="card-header text-center">Delivery </div>
  <div class="card-body text-center">
    <i class="fas fa-check-circle fa-7x"></i>
  </div>
  <div class="card-footer">
    <div class="text-center"> 
      <h4>Seu pedido foi enviado com sucesso !</h4>
    </div>
  </div>
</div> 